.container1 {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  margin-top: 20px;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container5 {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  margin-top: 20px;
  height: 100%;
}

/*----------CAROUSEL-------*/
.carousel1 {
  display: flex;

  width: 100%;
  height: 230px;
}
.carousel2 {
  width: 50%;
}
.carousel3 {
  width: 50%;
}
.carousel1 h1 {
  width: 60%;
  margin-left: 100px;
  margin-top: 20px;
  font-size: large;
  font-weight: bold;
}
.carousel1 Button {
  margin-left: 100px;
  background-color: rgb(220, 77, 86);
  color: white;
}
.carousel1 Button:hover {
  background-color: rgb(220, 77, 86);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.carousel1 p {
  font-size: 9px;
  width: 70%;
  margin-left: 100px;
}
.carousel1 img {
  width: 300px;
  height: 200px;
  margin-right: 70px;
}
.carousel1 img:hover {
  transform: scale(1.1);
}
@media (max-width: 900px) {
  .carousel1 p {
    margin-left: 50px;
  }
  .carousel1 h1 {
    width: 50%;

    margin-left: 50px;
    font-size: medium;
    font-weight: bold;
  }
  .carousel1 img {
    width: 100%;
    margin-top: 20px;
  }
  .carousel1 Button {
    margin-left: 50px;
  }
  .container1 {
    max-width: 90%;
  }
  .container5 {
    max-width: 90%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .carousel1 p {
    display: none;
  }
  .carousel2 {
    margin-top: 20px;
    width: 50%;
    height: 100%;
    margin-left: -20px;
  }
}

/*----------CAROUSEL-------*/

/*----------CARDS-------*/
.container4 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  margin-top: 20px;
  height: 100%;
}
.cardscss:hover {
  box-shadow: rgba(0, 0, 0, 0.692) 0px 5px 15px;
}
/*----------CARDS-------*/
